@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#frame {
  position: fixed; /* Để hình ảnh cố định và không bị cuộn khi trang web cuộn */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Đặt z-index âm để đảm bảo hình ảnh nằm dưới nội dung khác */
}

.none {
  display: none;
}

.caseClose {
  position: fixed;
  top: 62%;
  left: 44%;
  width: 12%;
}

.caseOpen {
  position: fixed;
  top: 60%;
  left: 41%;
  width: 16%;
}

.game,
.bg-img {
  position: fixed;
  width: 70%;
  top: 32%;
  left: 15%;
  text-align: center;
}

.bg-img {
  z-index: -1;
}

.bg-group-number {
  padding: 0 5%;
}

.game__group-number,
.bg-group-number {
  display: flex;
  justify-content: space-between;
}

.img-number {
  width: 20%;
}

.img-again {
  width: 24%;
  margin-top: 5%;
}

.game__low-number,
.game__hight-number {
  background-color: transparent;
  border-radius: 24px;
  min-width: 28%;
  min-height: 150px;
  border: transparent;
  font-size: 10rem;
  color: #ffe0ac;
}

.game__cur-number {
  background-color: transparent;
  border-radius: 24px;
  max-width: 25%;
  min-height: 150px;
  border: transparent;
  font-size: 10rem;
  color: #ffe0ac;
  text-align: center;
}

.game__cur-number:focus {
  outline: none;
}

.game__check,
.game__again {
  background-color: transparent;
  border-radius: 24px;
  min-width: 25%;
  min-height: 120px;
  border: transparent;
  font-size: 9rem;
  color: #ffe0ac;
  text-align: center;
  margin-top: 80px;
  cursor: pointer;
}

.board-color {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
}

.board-color__container {
  position: relative;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  background-color: #cfa7a4;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0.3;
}

.board-color__list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.board-color__color {
  width: 224px;
  height: 224px;
  border-radius: 50%;
}

.board-color__title {
  font-size: 4rem;
  text-align: center;
  margin-top: 40px;
  color: #7816b5;
  max-width: 200px;
}

.bgOrange {
  background-color: #f9ed5f;
}

.bgDuckNeckBlue {
  background-color: #8fd1dd;
}

.bgPinkChalk {
  background-color: #f4cde2;
}

.bgBananaGreen {
  background-color: #8f1c17;
}

.bgPurple {
  background-color: #040168;
}

.bgYellow {
  background-color: #62a557;
}

.bgRed {
  background-color: #aea1d9;
}

.bgCobaltGreen {
  background-color: #b6b6b4;
}

.bgHeavenlyBlue {
  background-color: #ebd7bf;
}

.bgPurpleHue {
  background-color: #db693f;
}

.bgGrey {
  background-color: #030314;
}

.bgStrawberryPink {
  background-color: #c2e57d;
}

.opacity {
  opacity: 0.3;
}
